################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Glue4Net.WinService/bin/Debug
/Glue4Net.WinService/obj/x86/Debug
/Glue4Net.WinService/obj/x86/Debug
