<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="containerSection" type="Glue4Net.Factory.ContainerSection, Glue4Net.Factory"/>
  </configSections>
  <containerSection xmlns="urn:Glue4Net.Factory">
    <domains>
       <add name="module"
           compiler="true"
           path="module"
           updateWatch="true"
           watchFilter="*.cs|*.config"/>
      <add name="module2"
         compiler="true"
         path="module2"
         updateWatch="true"
         watchFilter="*.cs|*.config"/>
    </domains>
  </containerSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
